<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HROB 2016{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            body {
                background: #87CEEB;
                font: 18px/1.5 sans-serif;

                margin: 0;
            }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            #wrapper-hrob { background: #FFF; margin: 0 auto; max-width: 800px; width: 95%; }
            #container-hrob { padding: 2em; }
            #welcome, #status { margin-bottom: 2em; }
            #welcome h1 span { display: block; font-size: 75%; }
            #top {
                border-top: 30px solid #88CC88;
                border-bottom: 10px solid #663300;
            }
            .footer {
                font-size: 15px;
            }

            @media (min-width: 768px) {
                #wrapper-hrob { width: 80%; margin: 0 auto 2em; }
            }
        </style>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="top"></div>
    <div id="wrapper-hrob">
        <div id="container-hrob">
            <div id="welcome">
                <h1><span>MČR HROB 2016</span> Broumy</h1>
            </div>
        {% block body %}{% endblock %}

            <div class="footer">LBE Orienteering {{ "now"|date('Y') }}
                | <a href="{{ path('homepage') }}">Úvod</a>
                | <a href="{{ path('entry-list') }}">Seznam přihlášených</a>
                | Kontakt: <a href="mailto:hrob&#64;ob-lbe.cz">hrob&#64;ob-lbe.cz</a>
            </div>
        </div>
    </div>
        {% block javascripts %}{% endblock %}


    </body>
</html>
