Dobrý den,
posíláme rekapitulaci přihlášky na MČR HROB 2016 v Broumech

Rekapitulace přihlášky:

Název týmu: {{ entry.teamName }}
Kategorie: {{ entry.getCategoryName }}

Závodníci:
{{ entry.firstRunner.fullName }} ({{ entry.firstRunner.country }}), {{ entry.firstRunner.dateOfBirth|date('j.n.Y') }}
{% if entry.firstRunner.rentSi %}půjčit SI{% else %}SI: {{ entry.firstRunner.si }}{% endif %}
{%- if entry.firstRunner.accommodation %}, ubytování v tělocvičně{% endif %}


{{ entry.secondRunner.fullName }} ({{ entry.secondRunner.country }}),{{ entry.secondRunner.dateOfBirth|date('j.n.Y') }},
{% if entry.secondRunner.rentSi %}půjčit SI{% else %}SI: {{ entry.secondRunner.si }}{% endif %}
{%- if entry.secondRunner.accommodation %}, ubytování v tělocvičně{% endif %}

Kontaktní email: {{ entry.email }}

{% if entry.note %}
Poznámka pro pořadatele:

{{ entry.note|nl2br }}
{% endif %}

Rekaputilace plateb:

{% for price in prices %}
{{ price[1] }}: {{ price[0] }} Kč
{% endfor %}

Celkem: {{ totalPrice }} Kč

Prosím uhraďte tuto částku ({{ totalPrice }} Kč) na účet 2800355570/2010 (FIO banka, majitel účtu LBE Orienteering)
Variabilní symbol: {{ entry.uid }}
Ve zprávě pro příjemce uveďte název svého týmu.


Děkujeme a těšíme se na vás v Broumech.
LBE Orienteering