{% extends 'base.html.twig' %}

{% block body %}

    <div id="status">
        <a href="{{ path('homepage') }}" title="Zpět">Zpět na úvodní stránku</a>
        <h3>Potvrzení přihlášky</h3>

        <p>
            Děkujeme, vaše přihláška byla přijata. <br/>

            Potvrzení a rekapitulaci platebních ůdajů naleznete ve vašem emailu.<br/>

            Přihláška je platná po zaplacení startovného.<br/><br/>

            V případě jakýchkoliv problémů nás kontaktujte na emailu: <a href="mailto:hrob&#64;ob-lbe.cz">hrob&#64;ob-lbe.cz</a>.

            <br/>
            Těšíme se na vás v Broumech!<br/>
        </p>


        <a href="{{ path('entry-list') }}">Seznam přihlášených týmů</a>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
