{% extends 'base.html.twig' %}

{% block body %}

    <div id="status">


        <h3>Novinky:</h3>
        <p>
            <strong>19.7.2016</strong>: Vážení přátelé HROBu,
            Bohužel jsme narazili na nepřekonatelné problémy při organizaci letošních
            závodů. Jedná se především o nesouhlas majitelů lesů v okolí centra závodů
            (Lesy ČR, Lesy Colorado Mansfeld) kvůli probíhající lovecké sezóně. <br>
            Mistrovství ČR 5.-6.11.2016 v Broumech se tedy ruší. Platby za zaplacené
            přihlášky budou v dohledné době vráceny.<br>
            Jednáme s vedení ČAR o přesunutí závodu v původním termínu na nové místo,
            nebo o uspořádání závodu na původním místě v Broumech na jaře 2017.<br>
            Za pořadatelský tým LBE Orienteering<br>
            Tomáš Vaníček<br>
            Jan Marek<br>
            <br>
            <strong>3.7.2016</strong>: Z důvodu problémů s povolením závodu v daném termínu jsou pozastaveny přihlášky. <br>
            <strong>1.6.2016</strong>: Spuštěny <strike>přihlášky</strike>.
        </p>

        <hr>

        <h4>Partneři závodu:</h4>
        <div class="partners">
            <div class="thumbnail">
                <a href="http://www.rogaining.cz/">
                    <img src="{{ asset('/images/car.gif') }}" alt="Česká asociace rogainingu a horského orientačního běhu">
                </a>
                <p>
                    <a href="http://www.rogaining.cz/" title="Česká asociace rogainingu a horského orientačního běhu">Česká asociace rogainingu a horského orientačního běhu</a>
                </p>
            </div>
            <div class="thumbnail">
                <a href="http://www.caes.cz/">
                    <img src="{{ asset('/images/caes.gif') }}" alt="Česká asociace extrémních sportů (ČAES)">
                </a>
                <p>
                    <a href="http://www.caes.cz/" title="Česká asociace extrémních sportů (ČAES)">Česká asociace extrémních sportů (ČAES)</a>
                </p>
            </div>
            <div style="clear:both"></div>
            <div class="thumbnail">
                <a href="http://www.broumy.cz/" title="Obec Broumy">
                    <img src="{{ asset('/images/broumy.gif') }}" alt="Obec Broumy">
                </a>
                <p>
                    <a href="http://www.broumy.cz/" title="Obec Broumy">Obec Broumy</a>
                </p>
            </div>
            <div class="thumbnail">
                <a href="http://www.obecnizbor.cz/" title="Obec Nižbor">
                    <img src="{{ asset('/images/nizbor.jpg') }}" alt="Obec Nižbor">
                </a>
                <p>
                    <a href="http://www.obecnizbor.cz/" title="Obec Nižbor">Obec Nižbor</a>
                </p>
            </div>
            <div style="clear:both"></div>

            <div class="thumbnail">
                <a href="http://www.kudrna.cz/" title="Cestovní kancelář Kudrna ">
                    <img src="{{ asset('/images/kudrna.png') }}" alt="Cestovní kancelář Kudrna ">
                </a>
                <p>
                    <a href="http://www.kudrna.cz/" title="Cestovní kancelář Kudrna ">Cestovní kancelář Kudrna</a>
                </p>
            </div>
            <div class="thumbnail">
                <a href="http://www.johnnyservis.cz/" title="Johnny Servis">
                    <img src="{{ asset('/images/johnnyservis.jpg') }}" alt="Johnny Servis">
                </a>
                <p>
                    <a href="http://www.johnnyservis.cz/" title="Johnny Servis">Johnny Servis</a>
                </p>
            </div>
            <div style="clear:both"></div>
            <div class="thumbnail">
                <a href="http://www.dur.cz/" title="Doprava-Uložení-Rekultivace">
                    <img src="{{ asset('/images/dur.png') }}" alt="Doprava-Uložení-Rekultivace">
                </a>
                <p>
                    <a href="http://www.dur.cz/" title="Doprava-Uložení-Rekultivace, a.s.">Doprava-Uložení-Rekultivace, a.s.</a>
                </p>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .thumbnail {
            width: 33%;
            text-align: center;
            display: inline-block;
        }
        .partners {
            text-align: center;
        }
    </style>
{% endblock %}
