{% extends 'base.html.twig' %}

{% block body %}

    <div id="status">
        <a href="{{ path('homepage') }}" title="Zpět">Zpět na úvodní stránku</a>
        <h3>Přihlášené týmy</h3>

        <table style="width: 100%">
            <thead>
            <tr style="text-align: left">
                <th>Kategorie</th>
                <th>Název týmu</th>
                <th>Závodníci</th>
                <th>Stav přihlášky</th>
            </tr>
            </thead>
        {% for entry in entries %}
            <tr>
                <td rowspan="2">{{ entry.category }}</td>
                <td rowspan="2">{{ entry.teamName }}</td>
                <td>
                    <strong>{{ entry.firstRunner.fullName }}</strong>
                </td>

                <td rowspan="2">
                    {% if entry.state == 'entered' %}
                        Čeká na platbu
                    {% elseif entry.state == 'paid' %}
                        Zaplaceno
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{ entry.secondRunner.fullName }}</strong>
                </td>
            </tr>
        {% endfor %}
        </table>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
