{% extends 'base.html.twig' %}

{% block body %}

    <div id="status">
        <a href="{{ path('homepage') }}" title="Zpět">Zpět na úvodní stránku</a>
        <h3>Přihlášky</h3>
        <p>
            Přihlášky budou dostupné z koncem května 2016.
        </p>

        {% if app.session.flashbag.has('success') %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <p class="flash-success">
                    {{ flash_message }}
                </p>
            {% endfor %}
        {% else %}
            <p>
                Pokud nám zanecháte email, pošleme vám upozornění o spuštění stránek a další informace o závodu:
            </p>
            {{ form_start(form) }}
            <span style="color: red">
                {{ form_errors(form) }}
            </span>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}

            <button type="submit" id="form_save">Chci být informován</button>
            <div class="agreements">Email bude použit jen pro účely závodů pořádaných LBE Orienteering z.s.</div>
            {{ form_end(form) }}

        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .flash-success {
            background: #8cd02c;
        }

        .agreements {
            font-size: 14px;
        }

        #form_email {
            padding: 5px;
            font-size: 15px;
        }

        #form_save {
            padding: 7px;
            font-size: 15px;
        }
    </style>
{% endblock %}
