{% extends 'base.html.twig' %}

{% block body %}

    <div id="status">
        <a href="{{ path('homepage') }}" title="Zpět">Zpět na úvodní stránku</a>
        <h3>Přihláška na MČR HROB 2016</h3>

        <h4><strong>3.7.2016</strong>: Z důvodu problémů s povolením závodu v daném termínu jsou pozastaveny přihlášky.</h4>
        {#{{ form_start(form, { attr: {'class': 'pure-form pure-form-stacked'}}) }}#}
        {#<span style="color: red">#}
                {#{{ form_errors(form) }}#}
            {#</span>#}

        {#{{ form_widget(form) }}#}

        {#<button type="submit" id="form_save">Chci být informován</button>#}
        {#<div class="agreements">Email bude použit jen pro účely závodů pořádaných LBE Orienteering z.s.</div>#}
        {#{{ form_end(form) }}#}

    </div>

{% endblock %}

{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
        $(function(){
            $('#entry_categoryPrichozi').parent().parent().hide();
            $('#entry_category').change(function(){
                if ($(this).val() == 'P17' || $(this).val() == 'P12') {
                    $('#entry_categoryPrichozi').parent().parent().show();
                } else {
                    $('#entry_categoryPrichozi').parent().parent().hide();
                }
            });
        });
    </script>
{% endblock %}
