{% extends 'base.html.twig' %}

{% block body %}

    <div id="status">
        <a href="{{ path('homepage') }}" title="Zpět">Zpět na úvodní stránku</a>
        <h3>Rekapitulace přihlášky</h3>

        <dl>
            <dt>Název týmu:</dt>
            <dd>{{ entry.teamName }}</dd>

            <dt>Kategorie:</dt>
            <dd>{{ entry.getCategoryName }}</dd>

            <dt>První závodník:</dt>
            <dd>
                <strong>{{ entry.firstRunner.fullName }}</strong> ({{ entry.firstRunner.country }}),
                {{ entry.firstRunner.dateOfBirth|date('j.n.Y') }},
                {% if entry.firstRunner.rentSi %}půjčit SI{% else %}SI: {{ entry.firstRunner.si }}{% endif %}
                {%- if entry.firstRunner.accommodation %}, ubytování v tělocvičně{% endif %}
            </dd>

            <dt>Druhý závodník:</dt>
            <dd>
                <strong>{{ entry.secondRunner.fullName }}</strong> ({{ entry.secondRunner.country }}),
                {{ entry.secondRunner.dateOfBirth|date('j.n.Y') }},
                {% if entry.secondRunner.rentSi %}půjčit SI{% else %}SI: {{ entry.secondRunner.si }}{% endif %}
                {%- if entry.secondRunner.accommodation %}, ubytování v tělocvičně{% endif %}
            </dd>

            <dt>Kontaktní email:</dt>
            <dd>{{ entry.email }}</dd>

            {% if entry.note %}
                <dt>Poznámka pro pořadatele:</dt>
                <dd>{{ entry.note|nl2br }}</dd>
            {% endif %}

        </dl>

        <a href="{{ path('entry') }}" class="btn btn-default">Upravit přihlášku</a>

        <br />
        <br />

        <table style="text-align: right">
            {% for price in prices %}
            <tr>
                <th style="max-width: 580px;">{{ price[1] }}:</th>
                <td>{{ price[0] }} Kč</td>
            </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th>Celkem:</th>
                <td>{{ totalPrice }} Kč</td>
            </tr>
            </tfoot>
        </table>


        {{ form_start(form) }}
            <span style="color: red">
                {{ form_errors(form) }}
            </span>

        {{ form_widget(form) }}

        {{ form_end(form) }}


    </div>

{% endblock %}

{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% endblock %}
