{% extends 'base.html.twig' %}

{% block body %}


    <div id="status">
        <a href="{{ path('homepage') }}" title="Zpět">Zpět na úvodní stránku</a>
        <h3>Rozpis</h3>
        <dl>
            <dt>Pořadatel:</dt>
            <dd><a href="http://www.rogaining.cz/" title="ČAR">Česká asociace rogainingu a horského orientačního běhu (ČAR)</a></dd>

            <dt>Technické provedení:</dt>
            <dd>LBE Orienteering, z.s.</dd>

            <dt>Datum:</dt>
            <dd>5. a 6. listopadu 2016</dd>

            <dt>Typ závodu:</dt>
            <dd>Dvouetapový závod dvojic v horském orientačním běhu</dd>

            <dt>Centrum:</dt>
            <dd>Školní hřiště ZŠ Broumy, okres Beroun (GPS: 49.95089N 13.85255E)
                <a href="https://mapy.cz/zakladni?x=13.8525500&y=49.9506898&z=12&source=coor&id=13.85255%2C49.95089">Mapy.cz</a></dd>

            <dt>Prezentace:</dt>
            <dd>
                Pátek 4.11. 2016 <strong>19-22h</strong> <br>
                Sobota 5.11. 2016 <strong>7:30 – 8:30</strong><br>
                Žádáme o dodržení času prezentace (zejména v sobotu, v 9:30 hromadný start závodu). <br>
                Na prezentaci nutná účast všech startujících! Doporučujeme příjezd již v pátek.
            </dd>

            <dt>Kategorie:</dt>
            <dd>
                <ul>
                    <li><strong>HH</strong> (dvojice mužů, bez omezení věku)
                    <li><strong>DD</strong> (dvojice žen, bez omezení věku)
                    <li><strong>HD</strong> (smíšená dvojice, bez omezení věku)
                    <li><strong>HH40</strong> (dvojice mužů, oba z dvojice narozeni dříve než 5.11.1976)
                    <li><strong>DD40</strong> (dvojice žen, obě z dvojice narozeny dříve než 5.11.1976)
                    <li><strong>HD40</strong> (smíšená dvojice, oba z dvojice narozeni dříve než 5.11.1976)
                    <li><strong>HH20</strong> (dvojice mužů, oba z dvojice narozeni později než 4.11.1996)
                    <li><strong>DD20</strong> (dvojice žen, obě z dvojice narozeny později než 4.11.1996)
                    <li><strong>HD20</strong> (smíšená dvojice, oba z dvojice narozeni později než 4.11.1996)
                    <li><strong>P17</strong> (příchozí, délka trati cca 17km, trať orientačně na úrovni závodních tratí, účast bez omezení věku a pohlaví, nemistrovská kategorie s možností účasti i jen jednu etapu)
                    <li><strong>P12</strong> (příchozí, délka trati cca 12km, orientačně jednoduchá trať, účast bez omezení věku a pohlaví, nemistrovská kategorie s možností účasti i jen jednu etapu)
                </ul>
            </dd>

            <dt>Účast:</dt>
            <dd>
                V závodě MČR smí startovat jen členové České asociace rogainingu (ČAR).
                Registrace nečlenů je možná bezplatně u prezentace. <br>
                Závod v mistrovských kategoriích je otevřen pouze pro závodníky starší 15 let.
                Žádosti o výjimku posuzuje prezidium ČAR.<br>
                Účastníci mladší než 15 let pouze v kategorii příchozích a s písemným povolením jejich zákonného zástupce.
            </dd>

            <dt>Mapy:</dt>
            <dd>
                Turistická speciální, měřítko 1:30.000, ekvidistance 10m, vodovzdorná úprava. <br>
                Mapa projde kontrolní revizí, avšak nebude obohacována o detaily nepatřící do turistické mapy.
            </dd>

            <dt>Prostor závodu:</dt>
            <dd>
                Křivoklátská vysočina. Prostor je zhruba vymezen obcemi Roztoky u Křivoklátu, Nový Jáchymov, Hudlice, Svatá, Zdice, Hředle, Březová, Bzová, Líšná, Skryje, Karlova Ves.
            </dd>

            <dt>Terén:</dt>
            <dd>
                Členitý, z větší části zalesněný, místy srmé srázy, nadmořská výška 300 m.n.m. (okraj lesa nad městem Zdice) až
                618 m.n.m. (vrchol Těchovín).
            </dd>

            <dt>Průběh závodu:</dt>

            <dd>
                K označení průchodu kontrol bude použito elektronické ražení SI (SportIdent), každý startující musí mít SI čip.<br>
                Při nefunkčnosti elektronické jednotky je nutné razit do R políček na mapě pomocí mechanických kleští. <br>
                Požadavek na zapůjčení SI čipu uveďte do přihlášky.<br>
                Závodí se podle <a href="http://rogaining.cz/upload/CAR_pravidla_2012.pdf" title="ČAR pravidla">platných pravidel ČAR [pdf]</a>.
                Zákaz používání navigačních pomůcek (GPS) a jiných map než poskytnutých pořadatelem.<br>
                Pravidlo o dodržení maximální vzdálenosti mezi členy týmu bude v terénu kontrolováno!
            </dd>

            <dt>Podrobnosti o závodě:</dt>
            <dd>
            <strong>Sobota:</strong> Start hromadný ve vlnách po kategoriích, cca 3000m od shromaždiště. V první části trasy mistrovských kategorií volné
            pořadí kontrol. Cíl do 3000m od shromaždiště. <br><br>
            <strong>Neděle:</strong> Start handicapový do ztráty 30 minut, dále intervalový, dle výsledků sobotního závodu, vzdálenost ze shromaždiště cca 1500m.
            Cíl na shromaždišti. <br><br>

            Po oba dny občerstvení na trati (čaj, voda, čokoláda, banány, pomeranče, rozinky, sůl, …). V cíli čaj a polévka.<br>
            Předpokládané časy vítězů podle <a href="http://rogaining.cz/upload/CAR_pravidla_2012.pdf" title="ČAR pravidla">pravidel ČAR</a>, časový limit 6,5 hodiny po oba dny.<br>
            </dd>

            <dt>Přihlášky:</dt>
            <dd>
                Přes <a href="{{ path('prihlasky') }}">přihláškový systém</a> (bude zprovozněn na webu závodu koncem května 2016). <br>
                Řádný termín přihlášek včetně zaplacení startovného: do <strong>14.10.2016</strong>, za zvýšené startovné do <strong>28.10.2016</strong>, nebo do naplnění možností pořadatele.
            </dd>

            <dt>Vklady:</dt>
            <dd>
            V řádném termínu <strong>600 Kč</strong> za dvojici za oba dny, později za <strong>750 Kč</strong>. <br>
            V kategorii příchozích (P) možnost přihlášky i na jednu z etap, cena 300 Kč v řádném termínu, později 400 Kč.<br>
            Půjčovné čipu 50 Kč/ks za oba dny.<br><br>
            Pro urychlení prezentace výhradně převodem na účet číslo <em>2800355570/2010</em> (FIO banka, majitel účtu LBE Orienteering).<br>
            Variabilní symbol pro platbu bude účastníkům vygenerován během online přihlašování.<br>
            Ve zprávě pro příjemce uveďte název svého týmu.<br>
            </dd>

            <dt>Ubytování:</dt>
            <dd>
                Pořadatel zajišťuje ubytování POUZE na zemi (tělocvična ZŠ Broumy, sál kulturního domu) pro omezený počet závodníků od pátku do neděle. <br>
                Cena 160,- Kč/osoba/dvě noci. <br>
                Další ubytování pořadatel nezajišťuje, tipy na ubytování v okolí centra závodu budou zveřejněny na webu závodu.
            </dd>

            <dt>Doprava:</dt>
            <dd>
                <ul>
                    <li>Autem – z dálnice D5 sjet na exitu 22 Králův Dvůr a přes obce Králův Dvůr, Trubín, Svatá a Kublov do Broum. <br>
                        Parkování v obci bude organizováno pořadateli, zákaz parkování na jiných, než vyhrazených místech.
                    <li>Veřejnou dopravou – autobusem středočeské integrované dopravy <a href="http://www.probobus.cz/res/archive/045/005704.pdf">C24 z Berouna [pdf]</a>.
                    </ul>
            </dd>

            <dt>Stravování:</dt>
            <dd>
                Na shromaždišti bufet, možnost objednání večeře  a snídaně v rámci přihlášky.
            </dd>

            <dt>Funkcionáři:</dt>
            <dd>
                <ul>
                    <li>ředitel závodu: Tomáš Vaníček, kontakt <a href="mailto:vanicek&#64;fsv.cvut.cz">vanicek&#64;fsv.cvut.cz</a>, 702 688 562
                    <li>hlavní rozhodčí: Jan Marek, <a href="mailto:jan.marek&#64;razdva.cz">jan.marek&#64;razdva.cz</a>, 732 541 409
                    <li>stavba tratí: Jakub Veselý
                    <li>zpracování přihlášek: Jakub Šimon, <a href="mailto:hrob&#64;ob-lbe.cz">hrob&#64;ob-lbe.cz</a>
                </ul>
            </dd>

            <dt>UPOZORNĚNÍ:</dt>
            <dd>
                ZÁVODÍ SE PODLE PLATNÝCH <a href="http://rogaining.cz/upload/CAR_pravidla_2012.pdf" title="ČAR pravidla">PRAVIDEL ČAR [pdf]</a>.<br>
                KAŽDÝ ZÁVODNÍK SE AKCE ÚČASTNÍ NA VLASTNÍ NEBEZPEČÍ A ZODPOVÍDÁ ZA SVOU BEZPEČNOST,
                COŽ POTVRDÍ SVÝM PODPISEM PŘI PREZENTACI. POŘADATEL NERUČÍ ZA ŽÁDNÉ ŠKODY ZPŮSOBENÉ ÚČASTNÍKY AKCE.
            </dd>
        </dl>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}



